.menu_bar{
    position: fixed;
    margin: 0px;
    z-index: 98;
    background-color: rgba(255, 255, 255, .3);
    height: 1.5em;
    width: 100vw;
}

#title_bug{
    position: fixed;
    margin: 0px;
    z-index: 99;
}

#title_bug h1{
    display: inline-block;
    padding-top: 0;
    margin: 0;
    margin-left: 10px;
    padding: 0.2em;
    color: black;
    font-weight: 300;
    font-size: 18px;
}

#title_bug a{
    color: black;
}

#title_links a{
    font-weight: 300;
}

 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: #fefdfb;
}

h2, h3 {
}

p {
    line-height: 1.6em;
}

#testing_es{
    display: none;
}

#testing{
}
/* -- Link Styles -- */
a:link{
    color: #FF5200;
    text-decoration: none;
    font-weight: 500;
}

a:visited{
    /*color: #FF5200;*/
    color:#FF5200;
}

a:hover{
    outline: 0 none;
    text-decoration: underline;
}

a:focus{
    outline: thin dotted #333;
    outline-offset: -2px;
}
a:active{
    color: #FF5200;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

#essay{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 2em;
}

#essay p{
    color: black;
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 1.5em;
    margin-top:0;
}

.l-box h1{
    font-size: 50px;
    color: black;
    text-align: center;
    margin: 0px;
    font-family: 'Lusitana', sans-serif;
}

.l-box-2{
    padding: 0.1em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

 #mybanner{
    font-family: 'Lusitana', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-position: center center;
    background-size: cover;
    padding: 0px;
    background-image: url("http://laciudadactual.com/static/landing/f123865754.jpg");
    margin: 0px;
    z-index: 5;
}

#ecatepec_banner{
    font-family: 'Lusitana', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-position: center center;
    background-size: cover;
    padding: 0px;
    background-image: url("../../static/story02/1X5A4901.jpg");
    margin: 0px;
    z-index: 5;
}

#satelite_banner{
    font-family: 'Lusitana', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-position: center center;
    background-size: cover;
    padding: 0px;
    background-image: url("../../static/1X5A2058.jpg");
    margin: 0px;
    z-index: 5;
}

#ecatepec_banner_2{
    font-family: 'Lusitana', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-position: center center;
    background-size: cover;
    padding: 0px;
    background-image: url("../../static/1X5A7204.jpg");
    margin: 0px;
    z-index: 5;
}
.banner {
    background: transparent 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100vh;
}

.banner-head {
    position: absolute;
    color: white;
    text-shadow: 0 1px 1px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8em;
    padding-right: 8em;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-top: 8vh;
    max-width: 1000px;
}

#banner_bg{    
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.banner-head h1{
    font-size: 75px;
    font-weight: 400;
    margin: 0px;
    margin-top: 50px;

}

.banner-head h2{
    font-family: 'Merriweather', serif;
    font-size: 19px;
    font-weight: 900;
    margin-top: 1em;
    
}

.banner-head h3{
    font-size: 30px;
    font-weight: 400;
    
}

/* -- MCW Banner Caption *
*
*/
.caption{
    position: absolute;
    bottom: 0em;
    right: 1em;
}

.caption p{
    color: white;
    font-size: 16px;
    font-weight: 100;
    font-family: 'News Cycle', sans-serif;
    text-align: right;
    line-height: 0.4em;
}
/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 1280px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-top: 0.5em;
    margin-bottom: 3.125em;
    text-align: center;
}
/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
    background: #519251;
}

.pricing-table-biz .pricing-table-header {
    background: #2c4985;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    color: black;
}
    .pricing-table-header h2 {
        margin: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 2em;
        font-weight: normal;
        font-family: "Lusitana", serif;

    }
    .pricing-table-header p{
        font-family: "Merriweather", sans-serif;
        margin: 1em;
        margin-top: 0;
        padding-bottom: .5em;
        font-weight: 300;
    }

.pricing-table-header a{
    color: black;
    text-decoration: none;
}

.pricing-table-header a:hover{
    text-decoration: underline;
}

.pricing-table-header a:visited{
    color: black;
    text-decoration: none;
}



/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */

@media(max-height: 1000px){
    .banner-head h3{
    font-size: 20px;
    }
}

@media(max-width: 1300px){
    .caption p{
        display: none;
    }
}

@media(max-height: 700px){
    .banner-head{
        margin-top: 40vh;
    }
} 

@media(max-width: 900px) {

    .pricing-table {
    margin-bottom: 0;
    }

    .banner-head h1{
    font-size: 55px;
    }

    .banner-head h2{
    font-size: 15px;
    }

    .banner-head h3{
    font-size: 25px;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 650px) {
    .banner {
        height: 400px;
    }
    .banner-head {
    padding-left: 2em;
    padding-right: 2em;
    }

    .banner-head h1{
    font-size: 35px;
    }

    .banner-head h2{
    font-size: 12px;
    }

    .banner-head h3{
    display: block;
    font-size: 20px;
    }
}

@media (max-width: 568px) {
    #banner_bg {
    background-color: rgba(0,0,0,.3);
    }
    .banner-head {
    margin-top: 10vh;
    padding-left: 1em;
    padding-right: 1em;
    }
    #essay h1{
        font-size: 30px;
    }
}
